.flex {
    display: flex;
    flex-wrap: wrap;
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: whitesmoke;
    height: 100vh;
    color: white;
    font-weight: bold;
}
.wrap {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrap>div {
    width: 650px;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 4px;
    border-radius: 4px;
}
.main-title {
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 20px;
}
/* --------.form-------- */
.form {
    margin-left: 45px;
    margin-bottom: 15px;
}  
.form__add-task>div {
    display: flex;
    flex-wrap: wrap;
}
input[type=text] {
    border-radius: 3px;
    border: none;
    outline: none;
    padding-left: 5px;
    height: 25px;
}
#form__title {
    margin-left: 5px;
    margin-right: 10px;
    width: 150px;
    color: gray;
}
#form__description {
    margin-left: 5px;
    margin-right: 15px;
    width: 220px;
    color: gray;
}
#form__add-btn {
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: large;
    outline: none;
    width: 28px;
}
#add-btn:hover {
    background: rgb(224, 222, 222);
}

#add-btn:active {
    background: wheat;
}
/* ------.tasks------ */
.tasks {
    flex-direction: column-reverse;
}
#tasks__list {
    list-style: none;
    margin-top: 30px;
}
input[type=checkbox] {
    display: none;
}
.task {
    background-color: lavender;
    min-height: 65px;
    width: 550px;
    display: block;
    border-bottom: 1px solid gray;
    color: gray;
    font-weight: bold;
    font-size: 15px;
    text-indent: 5px;
    line-height: 1vh;
    padding-top: 0.1vh;
    cursor: pointer;
    position: relative;
    margin: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all 0.5s ease;
    overflow: hidden;
}
li {
    opacity: 1;
    transition: all ease 0.7s;
}
li.hide-slow {
    opacity: 0;
}
li span {
    color: #988373;
    line-height: 2vh;
}
.delete-button {
    content: "";
    width: 22px;
    height: 22px;
    background: url(/public/img/waste.png) no-repeat center;
    background-size: 70%;
    display: block;
    position: absolute;
    border: 1px solid gray;
    border-radius: 100%;
    right: 45px;
    top: 15%;
    transition: border 0.8s ease;
    z-index: 10;
}
li>label::before {
    content: "";
    width: 22px;
    height: 22px;
    background: white;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: 15px;
    top: 15%;
    transition: border 0.8s ease;
}
input[type=checkbox]:checked ~ label {
    background-color: white;
    border-bottom: 1px solid black;
}
input[type=checkbox]:checked ~ label h3 {
    color: darkgray;
}
input[type=checkbox]:checked ~ label span {
    color: #adadb3
}
input[type=checkbox]:checked ~ label::before {
    border: 1px solid gray;
    background: url(/public/img/checked.png) no-repeat ;
    opacity: 0.6;
}
.tasks__nav {
    margin-left: 52px;
    margin-top: 20px;
}
.tasks__nav button {
    margin-left: 25px;
    width: 140px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    background: lightgray;
    box-shadow: 0px 0px 0px transparent;
    border: none;
    outline: none;
    color: rgb(95, 94, 94);
    font-weight: bold;
}
.tasks__nav button:hover {
    background: rgb(224, 222, 222);
}
.tasks__nav button:active {
    box-shadow: 0px 0px 0px transparent;
    border: none;
    outline: none;
    background: wheat;
}

@media screen and (min-width:520px) and (max-width:800px) {
/* Target landscape smartphones, portrait tablets, narrow desktops*/
    .wrap>div {
        width: 470px;
    }
    .main-title {
        margin-left: 0;
    }
    .form {
        margin-left: 0;
        position: relative;
    }
    input[type=text] {
        margin-bottom: 20px;
        padding-left: 5px;
        height: 25px;
    }
    .form__task-title {
        width: 465px;
    }
    #form__title {
        width: 250px;
        margin-left: 60px;
    }
    #form__description {
        width: 360px;
        margin-left: 10px;
    }
    #form__add-btn {
        position: absolute;
        left: 430px;
        height: 28px;
        width: 28px;
    }
    #tasks__list {
        padding: 0;
    }
    .task {
        width: 455px;
        margin-left: 0;
    }
    .tasks__nav {
        margin-left: 0;
        margin-top: 0px;
    }
    .tasks__nav button {
        margin-left: 17px;
    }
    .tasks__nav button:nth-child(1) {
        margin-left: 0;
    }
}

@media screen and (max-width:519px) {
/* Target portrait smartphones */
    .wrap>div {
        width: 335px;
    }
    .main-title {
        margin-left: 0;
    }
    .form {
        margin-left: 0;
        position: relative;
    }
    input[type=text] {
        margin-bottom: 20px;
        padding-left: 5px;
        height: 25px;
    }
    .form__task-title {
        flex-direction: column;
        width: 330px;
    }
    #form__title {
        width: 280px;
        margin-left: 0;
        margin-top: 5px;
    }
    #form__description {
        width: 330px;
        margin-left: 0;
        margin-top: 5px;
    }
    #form__add-btn {
        position: absolute;
        left: 310px;
        top: 23px;
        height: 28px;
        width: 28px;
    }
    #tasks__list {
        padding: 0;
    }
    .task {
        width: 335px;
        margin-left: 0;
    }
    .tasks__nav {
        margin-left: 0;
        margin-top: 0px;
    }
    .tasks__nav button {
        margin-left: 17px;
        width: 100px;
    }
    .tasks__nav button:nth-child(1) {
        margin-left: 0;
    }
  }